Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.pfx
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log

[Bb]in
[Dd]ebug*/*
![Dd]ebug*/PCANBasic.dll
![Dd]ebug*/log4net.dll
![Dd]ebug*/resource/
![Dd]ebug*/*.ouj
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
